src/main/resources/xsd_schema.xml

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="item">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:unsignedByte" />
                <xs:element name="createDate" type="xs:date" />
                <xs:element name="product_id" type="xs:unsignedByte" />
                <xs:element name="user_id" type="xs:unsignedByte" />
                <xs:element name="quantity" type="xs:unsignedByte" />
                <xs:element name="totalPrice" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>